/* Login.css */

/* Estilos para imágenes responsivas */
img {
  max-width: 80%;
  height: auto;
}

.body1 {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/public/Images/1.png'); /*Imagen comentada modo veda*/
    background-size: cover;
    background-position: center;
  }
  
  

.login-container {
  display: flex;
  max-width: 90vh;
  margin: auto;
  margin-top: 5%; /* Cambia el margen superior a un 0% en veda */
  background-color: rgba(245, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  height: 80vh; /* Abarca el 80% de la altura de la página */
  
}

.left-side {
  flex: 1;
  text-align: center;
  height: 80vh;
  width: 20%;
}

.centered-image {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.right-side {
  flex: 1;
  padding: 3%;
  height: 80vh;
  width: 20%;
  overflow-y: auto;
 
}

.top-image {
  max-width: 100%; /* cambio tamaño de 100 a 60 por veda*/
  margin-bottom: 5%;
}

.form1 {
  display: flex;
  flex-direction: column;
  
}

.label1 {
  font-size: clamp(12px, 2vw, 20px);
  margin-bottom: 1%;
}

.input1 {
  margin-bottom: 0%;
  padding: 2%;
  border: 2px solid  #9E2343 ;/*#98989A; VEDA */
  border-radius: 10px;
  background-color: transparent;
  color:  #9E2343 ;/*#98989A; VEDA */
}

.button1 {
  font-size: clamp(12px, 2vw, 20px);
  padding: 2%;
  background-color: #9E2343;/*#98989A; VEDA */
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
}

.titulo {
  font-size: clamp(15px, 3vw, 25px);
  text-align: center;
  font-weight: bold;
}

.texto{
  font-size: clamp(12px, 2vw, 20px);
  text-align: left;

}

.texto2{
  font-size: clamp(12px, 2vw, 20px);
  text-align: right;

}

/* Media query para pantallas de laptops y escritorios */
@media screen and (min-width: 1024px) {
  .login-container {
    max-width: 50%; /* Ajusta el tamaño máximo del contenedor para pantallas más grandes */
    height: 70vh; /* Reducir la altura del contenedor para pantallas más grandes */
  }

  .left-side, .right-side {
    width: 25%; /* Ajusta el ancho de los lados para pantallas más grandes */
  }
}