#section_pre {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: url('/public/Images/1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.form-container {
    max-width: 50%;
    margin: 5% auto;
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

.form-group {
    width: 48%;
    margin: 1%;
    box-sizing: border-box;
    display: inline-block;
}

.form-group label {
    display: block;
    margin-bottom: 1%;
}

.cuadros {
    width: calc(100% - 2%);
    border-color: #9E2343;
    border-radius: 10px;
    height: 30px; /* Ajusta la altura según tus necesidades */
}

.botonchido {
    color: white;
    background-color: #9E2343;
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    display: block;
    margin: 10px auto;
    height: 40px; /* Ajusta la altura según tus necesidades */
    width: 160px;
}

.botonchido:hover {
    background-color: #BC955B;
}

.botonchido2 {
    color: white;
    background-color: #9E2343;
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    display: block;
    margin: 10px auto;
    height: 40px; /* Ajusta la altura según tus necesidades */
    width: 160px;
}

.botonchido2:hover {
    background-color: #BC955B;
}

.alerta{
    color:red;
    font-size: 20px;
    text-align: center;
    font-weight: bold; /* Agregando negrita */
}

.encabezado {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}
.imagenlogo {
    max-width: 50%;
    margin-bottom: 20px;
  }

 /* Para dispositivos móviles */
@media screen and (max-width: 767px) {
    /* Estilos específicos para dispositivos móviles */

    .form-container {
        max-width: 80%;
    
        margin: 10% auto;
        padding: 2%;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .form-group {
        width: 98%;
        max-height: 98%;
        margin: 1%;
        box-sizing: border-box;
        display: inline-block;
    }

  }
  
  /* Para tabletas */
  @media screen and (min-width: 768px) and (max-width: 1424px) {
    /* Estilos específicos para tabletas */
    .form-container {
        max-width: 80%;
      
        margin: 20% auto;
        padding: 2%;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .form-group {
        width: 98%;
        max-height: 98%;
        margin: 1%;
        box-sizing: border-box;
        display: inline-block;
    }
  }